body {
  background-color: #839d8f;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;

  min-width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.container {
  width: 1146px;
  padding: 0 27px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.main-header .container {
  margin-top: 9px;
}

.main-header-logo {
  width: 154px;
  height: 64px;
}

.main-header-navigation-list {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 349px;

  padding: 0;
  margin: 0;

  margin-left: 22px;
  margin-bottom: 10px;
}

.main-header-navigation-list li {
  font-weight: bold;
}

.catalog-detalization-list {
  position: absolute;
  display: none;

  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog-navigation-item:hover .catalog-detalization-list {
  display: block;
}
/* Позиционирование */
/* Блочная модель */
/* Типографика */
/* Оформление */
/* Анимация */
/* Разное */
